DEBUG=True
DB_ECHO=False

DOMAIN=localhost

APP_TITLE=email-module
APP_DESCRIPTION=email-module for supporta
APP_VERSION=0.0.1

SECURITY_SECRET_KEY=someverysecretkey
SECURITY_CSRF_COOKIE_NAME=csrf
SECURITY_CSRF_EXPIRE_TIME=604800
SECURITY_CSRF_MIN_TOKEN_LENGTH=30
SECURITY_ALLOW_ORIGINS=["*"]
SECURITY_ALLOW_HOSTS=["*"]
SECURITY_ACCESS_TOKEN_EXPIRE_MINUTES=30
SECURITY_REFRESH_TOKEN_EXPIRE_DAYS=7
SECURITY_ACCESS_TOKEN_ALGORITHM=HS256
SECURITY_ALLOWED_IMAGE_TYPES=["image/jpeg","image/png","image/gif","image/webp","image/bmp","image/tiff"]

RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=pass
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=user
RABBITMQ_PASSWORD=pass
RABBITMQ_VHOST=/

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

LOGGER_LOG_REQUESTS=True
LOGGER_LOG_REQUEST_BODY=True
LOGGER_LOG_RESPONSE_BODY=True
LOGGER_REQUEST_ID_HEADER=X-Request-ID
LOGGER_LOG_SLOW_REQUESTS=True
LOGGER_SLOW_REQUEST_THRESHOLD=1.0
LOGGER_JSON_LOGS=True
